<app-navbar></app-navbar>
<div class="conteudo-noticia">
    <div class="lista-noticias">
        <ng-container *ngFor="let item of listanoticias">
            <div class="noticia">
                <div class="cabecalho-noticias">
                    <div class="data-noticia">
                        Date : 11/10/2022
                    </div>
                    <div class="usuario-noticia">
                        Alex Ventura
                    </div>
                </div>
                <div class="texto-noticia">
                    Olá mundo,Lorem ipsum dolor sit amet. 
                    Eos dolorem necessitatibus ea vero labore qui minus consequatur 
                    ut quis esse eum iusto repellendus.
                </div>
            </div>
        </ng-container>
    </div>
</div>
